.infos {
    margin: 1rem;
    height: 100vh;
}

.info {
    position: relative;
    height: 7rem;
}

.info__line {
    /* Border */
    border-right: 2px solid rgb(237, 147, 147);

    /* Positioned at the left */
    left: 1rem;
    position: absolute;
    top: 0px;
    margin-top: 1rem;
    height: 100%;
}

.info__items {
    /* Reset styles */
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.info__item {
    margin-bottom: 1rem;
}

.info__top {
    /* Center the content horizontally */
    align-items: center;
    display: flex;
}

.info__circle {
    /* Rounded border */
    background-color: rgb(237, 147, 147);
    border-radius: 9999px;

    /* Size */
    height: 2rem;
    width: 2rem;
}

.info__title {
    /* Take available width */
    flex: 1;
    margin-left: 1rem;
    font-size: 2rem;
}

.info__content {
    /* Make it align with the title */
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-left: 2rem;
}